<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Student Details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/main.css}" href="../static/css/main.css"
          rel="stylesheet" type="text/css"/>
    <link th:href="@{../css/footer.css}" href="../static/css/footer.css"
          rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script th:src="@{../js/footer.js}" src="../static/js/footer.js"></script>

</head>
<body>
<main>
    <h1>Customer Details</h1>
    <div th:object="${customer}">
        <p>
            <label class="group_label">First Name:</label>
            <span class="output" th:text="*{firstName}">Bart</span>
        </p>
        <p>
            <label class="group_label">Last Name:</label>
            <span class="output" th:text="*{lastName}">Simpson</span>
        </p>
        <p>
            <label class="group_label">Email:</label>
            <span class="output" th:text="*{email}">Email</span>
        </p>
        <p>
            <label class="group_label">Street:</label>
            <span class="output" th:text="*{street}">Street</span>
        </p>
        <p>
            <label class="group_label">City:</label>
            <span class="output" th:text="*{city}">City</span>
        </p>
        <p>
            <label class="group_label">State:</label>
            <span class="output" th:text="*{state}">State</span>
        </p>

        <p>
            <label class="group_label">Zip Code:</label>
            <span class="output" th:text="*{zipCode}">Zip code</span>
        </p>

    </div>



    <p><a href="CustomerList.html" th:href="@{../ListStudents}">List Students</a></p>
</main>
</body>
</html>
